PORT=3000
APP_URL=http://localhost:3000

# Yorck API base URL and API key
# See ./docs/api-exploration.md for details.
YORCK_VISTA_API_URL=
YORCK_VISTA_API_KEY=

# Also, if you set NODE_ENV=produciton and any of the commonly used env
# vars with git sha (GIT_SHA, GITHUB_SHA, VERCEL_GIT_COMMIT_SHA,
# CF_PAGES_COMMIT_SHA, COMMIT_SHA, RAILWAY_GIT_COMMIT_SHA, COMMIT_REF or
# RENDER_GIT_COMMIT), the sha will be used as a ETag for static assets.
