{"swagger":"2.0","info":{"version":"5.0.15.26 - 3295d4347650a17d899a90c01d0c16beb19fe2cd-V1","title":"WSVistaWebClient.V1"},"host":"api.vista.co","basePath":"/WSVistaWebClient","schemes":["https"],"consumes":[],"produces":[],"paths":{"/BackgroundJob.svc/{backgroundJobId}":{"get":{"tags":["BackgroundJob"],"summary":"GetJob","operationId":"BackgroundJob_GetJobByBackgroundjobid","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"backgroundJobId","in":"path","required":true,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.AsyncCompleteOrderResult&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking":{"post":{"tags":["Booking"],"summary":"GetSingleBooking","description":"Gets the full details of a booking.\r\n\r\n* If the system cannot find a matching booking, then it will be returned as **null**, while `Success` status only indicates that there were no errors while processing the request.\r\n* The latest **collected** and **refunded** status of order lines should always be returned via this endpoint (either by a call to cinema or the `Booking Stream` feature providing real-time updates of Connect booking data).\r\n* The **booking print stream** is only returned if the `IncludeBookingPrintStream` is specified.\r\n* The `ReturnTransactionStatusInfoIfSingleBookingMatch` can be used to refresh the full booking details from cinema. This is useful if items may have been added/updated at cinema.\r\n* It is recommended to make in the context of the original purchasing loyalty member (using the `loyaltySessionToken` header). In this case, the signed-in loyalty member's id will be used, and the `MemberId` passed in on the request will be ignored.\r\n* If a member is not logged in, then an HttpForbidden response will be returned with error code 34 (NoLoyaltyMember). Requesting a booking with `MemberId` or no member context is possible but requires specific security behaviour configuration to be enabled.\r\n* Error Code 61 will be returned if the order is not uniquely identified through userSessionId\r\n\r\n#### Valid Identifier Combinations\r\n\r\nThis endpoint can find a booking using different identifier combinations.\r\n\r\nValid options include:\r\n* CinemaId and BookingId\r\n* CinemaId and BookingNumber\r\n* CinemaId and VistaTransNumber\r\n* CinemaId and Barcode\r\n* UserSessionId(no cinema required)","operationId":"Booking_GetSingleBooking","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetSingleBookingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetSingleBookingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/cancel":{"post":{"tags":["Booking"],"summary":"CancelBooking","description":"Sets the status of a booking to cancelled at the cinema level. Only unpaid bookings can be cancelled, paid bookings must be refunded.\r\n\r\n#### Error codes\r\n- **47**: Booking does not exist\r\n- **48**: Booking is not an unpaid booking. Paid bookings must be refunded\r\n- **49**: Booking has already been cancelled\r\n- **20000**: Booking is being edited","operationId":"Booking_CancelBooking","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.CancelBookingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.CancelBookingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/markcollected":{"post":{"tags":["Booking"],"summary":"MarkBookingAsCollected","description":"Sets booking items as collected at the cinema through Sales Server.This can be called to mark items as collected after payment if tickets have been printed.\r\n\r\n**PrepareConcessionsOnly** can be set to true to only mark the concessions as collected, if the **PreparationRequiresBookingCollection** system setting is set to 'Yes' at the cinema. If this is specified, a** PickupNumber** will be returned along with a **PickupAreas** list, with the concessions that can be picked up in each area. Any concessions that do not have a pickup area are not included.","operationId":"Booking_MarkBookingAsCollected","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MarkBookingAsCollectedRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MarkBookingAsCollectedResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/refund":{"post":{"tags":["Booking"],"summary":"RefundBooking","description":"Refunds a booking.Error codes below are returned in the response body\r\n\r\n1. **100** - The booking has already been refunded\r\n2. **110** - An item In the booking has already been refunded\r\n3. **120** - The selected booking has already been picked up\r\n4. **130** - The Selected booking contains one or more sessions where the cut-off time for refunds has past for this sales channel\r\n5. **140** - To prevent fraud, there is a five minute delay before you can perform a refund after resending a confirmation email","operationId":"Booking_RefundBooking","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.RefundBookingRequest&#8203;"}},{"name":"loyaltySessionToken","in":"header","description":"Current Loyalty session token, represents a 'signed-in' member","required":false,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.RefundBookingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/search":{"post":{"tags":["Booking"],"summary":"GetBookings","description":"Search for bookings.\r\n\r\n* When searching for multiple bookings, you must either provide both a session date and card info, or a MemberId.\r\n* The **collected** and **refunded** status of order lines will only be returned by this endpoint if the `Booking Stream` feature is enabled allowing real-time updates of Connect booking data.\r\n* It is recommended to make in the context of the original purchasing loyalty member (using the `loyaltySessionToken` header). In this case, the signed-in loyalty member's id will be used, and the `MemberId` passed in on the request will be ignored.\r\n* If a member is not logged in, then an HttpForbidden response will be returned with error code 34 (NoLoyaltyMember). Requesting a booking with `MemberId` or no member context is possible but requires specific security behaviour configuration to be enabled.","operationId":"Booking_GetBookings","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetBookingsRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetBookingsResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/unpaid/{token}":{"get":{"tags":["Booking"],"summary":"GetUnpaidBookingDetails","description":"Retrieve the payment status on an unpaid booking ONLY when using the redirect-payment method.\r\nWhen using the mark-paid method, Vista does not know the status of the payment so this is irrelevant (payment is made in external system).\r\nThis token is returned by a call to start an external payment for an unpaid booking. i.e.: /booking/unpaid/start-redirect-payment\r\nThe booking details token is automatically generated by the system to ensure that it is unique per payment.","operationId":"BookingUnpaid_GetUnpaidBookingDetailsByToken","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"token","in":"path","required":true,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetUnpaidBookingDetailsResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/unpaid/mark-paid":{"post":{"tags":["Booking"],"summary":"PayForUnpaid","description":"Marks an unpaid booking as paid.\r\n1. Payment is assumed to have been made externally to Vista.\r\n2. Payment details provided are recorded at cinema for auditing/reporting purposes.\r\n\r\n#### Notes on Refunding Payments\r\n1. Payments can be refunded as a** matched refund payment** as part of the** V2/Bookings/RefundBooking** end-point.\r\n2. **BankTransNumber**, ** ReversalData** and** RefundPaymentMethod** must be specified to enable matched refund payment.\r\n\r\n#### Error codes\r\n- **47** - Booking does not exist\r\n- **48** - Booking is not unpaid\r\n- **49** - Booking has been cancelled\r\n- **69** - Amount paid does not match booking value\r\n- **20000** - Booking is being edited\r\n- **20100** - Booking contains unvalidated voucher tickets","operationId":"BookingUnpaid_PayForUnpaid","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.PayForUnpaidBookingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.PayForUnpaidBookingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/unpaid/start-redirect-payment":{"post":{"tags":["Booking"],"summary":"PayForUnpaidStart","description":"Start payment for an unpaid booking.\r\n\r\n#### Error codes\r\n- **47** - Booking does not exist\r\n- **48** - Booking is not unpaid\r\n- **49** - Booking has been cancelled\r\n- **69** - Amount paid does not match booking value\r\n- **20000** - Booking is being edited\r\n- **20100** - Booking contains unvalidated voucher tickets","operationId":"BookingUnpaid_PayForUnpaidStart","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.PaymentStartRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.PaymentStartResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTBooking.svc/booking/unpaid/update":{"post":{"tags":["Booking"],"summary":"UpdateUnpaidBooking","description":"Update the comments or hold flag on an unpaid booking.","operationId":"BookingUnpaid_UpdateUnpaidBooking","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.UpdateUnpaidBookingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.UpdateUnpaidBookingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/Id":{"post":{"tags":["Loyalty"],"summary":"GetMemberId","description":"Validates that the Loyalty Member credentials are valid and returns the Members Id for use in ordering.","operationId":"Loyalty_GetMemberId","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberIdRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberIdResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/languages":{"get":{"tags":["Loyalty"],"summary":"GetLanguageCodes","description":"Gets supported language codes for Loyalty. Introduced in 4.5.6.0.9908","operationId":"Loyalty_GetLanguageCodes","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.GetLanguageCodesResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member":{"post":{"tags":["Loyalty"],"summary":"GetMember","description":"Returns a logged in Member.\r\nBy default, returns cached value of the Member. Set ForceCacheRefresh = True to force a reload.","operationId":"Loyalty_GetMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.LoyaltyResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/activate":{"post":{"tags":["Loyalty"],"summary":"SetMembershipActivated","description":"Activates a loyalty member associated with the [MemberId].","operationId":"Loyalty_SetMembershipActivated","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SetMembershipActivatedRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.LoyaltyResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/activateoncomplete":{"post":{"tags":["Loyalty"],"summary":"SetMemberToActivateOnComplete","description":"Send Loyalty member data to be created after a successful payment. A loyalty membership activation concession item needs to be included in the order. This endpoint is designed for purchasing a loyalty membership\r\n### Before calling this endpoint\r\nThis endpoint is used as part of a loyalty membership purchase flow. Before calling this endpoint, a loyalty membership activation concession item needs to be included in the order with the **IsLoyaltyMembershipActivation** flag set to true.\r\n### Creating members\r\nFor members to be created successfully, we also recommend setting the MemberItemId property in the request with the ActivationItemId of a selected member program from /Odata.svc/MembershipPrograms.","operationId":"Loyalty_SetMemberToActivateOnComplete","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SetMemberToActivateOnCompleteRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SetMemberToActivateOnCompleteResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/activity/add":{"post":{"tags":["Loyalty"],"summary":"TrackUserActivity","description":"Records user activity tracking items.","operationId":"Loyalty_TrackUserActivity","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.TrackUserActivityRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.TrackUserActivityResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/completepasswordreset":{"post":{"tags":["Loyalty"],"summary":"CompletePasswordReset","description":"Completes the password reset process and updates the loyalty member's password.\r\n\r\n#### Initiating a Password Reset\r\nUse** InitiatePasswordReset** to generate a password reset code.\r\n\r\n#### Validating a Password Reset Code\r\nUse **ValidatePasswordResetCode** to check whether a reset code is still active (optional).\r\n\r\nEven if the reset code is valid, it is possible that the password was unable to be updated due to rules configured in loyalty.\r\nIn this case IsResetCodeValid will be true but an error code will be included\r\n\r\n/// #### Key Password Error Codes\r\n* 33000    - Password does not meet the maximum length requirement.\r\n* 33001    - Password does not meet the minimum length requirement.\r\n* 33002    - Password does not contain the required minimum number of numeric characters.\r\n* 33003    - Password does not contain the required minimum number of non-numeric characters.\r\n* 33004    - Password does not contain the required minimum number of distinct characters.\r\n* 33005    - Password cannot contain the user's email address.\r\n* 33006    - Password cannot contain the username.\r\n* 33007    - Password cannot contain the user's first or last name.\r\n* 33008    - Password is a known compromised password.\r\n* 33009    - Password contains disallowed words.\r\n* 33010    - Password update failed at Loyalty.","operationId":"Loyalty_CompletePasswordReset","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.CompletePasswordResetRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.CompletePasswordResetResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/create":{"post":{"tags":["Loyalty"],"summary":"CreateMember","description":"Creates a new Member. Sending Loyalty welcome emails are currently not supported.\r\n\r\n/// #### Key Password Error Codes\r\n* 33000    - Password does not meet the maximum length requirement.\r\n* 33001    - Password does not meet the minimum length requirement.\r\n* 33002    - Password does not contain the required minimum number of numeric characters.\r\n* 33003    - Password does not contain the required minimum number of non-numeric characters.\r\n* 33004    - Password does not contain the required minimum number of distinct characters.\r\n* 33005    - Password cannot contain the user's email address.\r\n* 33006    - Password cannot contain the username.\r\n* 33007    - Password cannot contain the user's first or last name.\r\n* 33008    - Password is a known compromised password.\r\n* 33009    - Password contains disallowed words.","operationId":"Loyalty_CreateMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.CreateMemberRequest&#8203;"}},{"name":"loyaltySessionToken","in":"header","description":"Current Loyalty session token, represents a 'signed-in' member","required":false,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CreateMemberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/customerratings":{"post":{"tags":["Loyalty"],"summary":"GetCustomerRatings","description":"Gets a set of Film and/or Trailer customer ratings for a specified list of films.","operationId":"Loyalty_GetCustomerRatings","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.GetRatingsRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.GetRatingsResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/customerratings/experience":{"post":{"tags":["Loyalty"],"summary":"GetCustomerExperienceRatings","description":"Gets a set of Experience and/or Food customer ratings for a specified session.","operationId":"Loyalty_GetCustomerExperienceRatings","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.GetExperienceRatingsRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.GetExperienceRatingsResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/customerratings/experience/submit":{"post":{"tags":["Loyalty"],"summary":"SubmitCustomerExperienceRating","description":"Submits a customer rating for the Experience or Food rating types.","operationId":"Loyalty_SubmitCustomerExperienceRating","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitExperienceRatingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitExperienceRatingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/customerratings/film/submit":{"post":{"tags":["Loyalty"],"summary":"SubmitCustomerFilmRating","description":"Submits a customer film rating.","operationId":"Loyalty_SubmitCustomerFilmRating","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitFilmRatingRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitFilmRatingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/customerratings/filmtrailer/submit":{"post":{"tags":["Loyalty"],"summary":"SubmitCustomerFilmTrailerRating","description":"Submits a customer film trailer rating.","operationId":"Loyalty_SubmitCustomerFilmTrailerRating","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitFilmTrailerRatingRequest&#8203;"}},{"name":"loyaltySessionToken","in":"header","description":"Current Loyalty session token, represents a 'signed-in' member","required":false,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.CustomerRatings.SubmitFilmTrailerRatingResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/delete":{"post":{"tags":["Loyalty"],"summary":"DeleteMember","description":"Marks a Loyalty member to be deleted by the Loyalty system in the\r\nconfigured scheduled task. Also records the deletion request for\r\nrecovery purposes.","operationId":"Loyalty_DeleteMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberDeleteRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberDeleteResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/emailchange":{"post":{"tags":["Loyalty"],"summary":"SetEmailChangeForVerification","description":"Creates an email change verification code and sends a verification email to the member.\r\nThis is used in conjunction with VerifyEmail change to provide a verified process to change a member's email.","operationId":"Loyalty_SetEmailChangeForVerification","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SetEmailChangeForVerificationRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SetEmailChangeForVerificationResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/initiatepasswordreset":{"post":{"tags":["Loyalty"],"summary":"InitiatePasswordReset","description":"Generates a password reset code for a loyalty member and optionally sends a password reset email.\r\n\r\n#### Sending a Password Reset Email\r\n* Set** EmailData** to automatically send a reset email to the loyalty member with a formatted reset URL(optional).\r\n* Alternatively, use** ResetCode** to generate and send your own reset email.\r\n\r\n#### Completing a Password Reset\r\n* Use** ValidatePasswordResetCode** to check whether a reset code is still active (optional).\r\n* Use** CompletePasswordReset** to update the loyalty member's password.","operationId":"Loyalty_InitiatePasswordReset","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.InitiatePasswordResetRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.InitiatePasswordResetResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/items":{"post":{"tags":["Loyalty"],"summary":"GetMemberItemList","description":"Returns lists of Concessions, Discounts and TicketTypes available to the Member based on earned loyalty recognitions.\r\n\r\nRequires that ValidateMember or AuthenticateMember has been called to associate the Member with the UserSessionId.","operationId":"Loyalty_GetMemberItemList","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberItemListRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberItemListResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/logoff":{"post":{"tags":["Loyalty"],"summary":"LogOffMember","description":"Logs a member out of Loyalty.","operationId":"Loyalty_LogOffMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Request&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Response&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/manualrewards/get":{"post":{"tags":["Loyalty"],"summary":"GetManualReward","description":"Gets a single manual reward available for a member to purchase using their Loyalty points.","operationId":"Loyalty_GetManualReward","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.GetManualRewardRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.GetManualRewardResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/manualrewards/list":{"post":{"tags":["Loyalty"],"summary":"GetManualRewardsForMember","description":"Gets a list of manual rewards available for a member to purchase using their Loyalty points","operationId":"Loyalty_GetManualRewardsForMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.GetManualRewardsForMemberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.GetManualRewardsForMemberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/manualrewards/purchase":{"post":{"tags":["Loyalty"],"summary":"PurchaseManualReward","description":"Purchases a manual reward available for member associate with UserSessionId or loyalty session token.\r\n\r\nIf successful, this process deducts the appropriate point cost from their balance.\r\nThen returns the purchased reward and the updated points balance of the member.","operationId":"Loyalty_PurchaseManualReward","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.PurchaseManualRewardRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.PurchaseManualRewardResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/messages":{"post":{"tags":["Loyalty"],"summary":"GetMemberMessageList","description":"Returns a list of Messages associated with the Member.\r\nEither a Loyalty Session Token or UserSessionId associated with the\r\nmember must be provided.\r\nMessages that are not of type 'POS' will only be returned if the\r\nrequesting client has a Sales Channel of 'CELL'.\r\nInternally calls ResetMemberExpiry if successful","operationId":"Loyalty_GetMemberMessageList","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberMessageListRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetMemberMessageListResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/messages/markasread":{"post":{"tags":["Loyalty"],"summary":"MarkMessageAsRead","description":"Mark a message as read.","operationId":"Loyalty_MarkMessageAsRead","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MarkMessageAsReadRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MarkMessageAsReadResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/messages/respond":{"post":{"tags":["Loyalty"],"summary":"MessageResponse","description":"Processes a member message response.","operationId":"Loyalty_MessageResponse","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MessageResponseRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Response&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/replacecard":{"post":{"tags":["Loyalty"],"summary":"ReplaceCard","description":"Replace an existing Loyalty member's card with a new card. The new card number and Membership Id must be provided.","operationId":"Loyalty_ReplaceCard","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberReplaceCardRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberReplaceCardResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/resetsessionexpiry":{"post":{"tags":["Loyalty"],"summary":"ResetMemberExpiry","description":"Extends the Member's logged-in session by the configured timeout period.\r\nAfter a configured amount of time Membership data is purged from the VISTAIT db.\r\nTo avoid a Member's data being purged and therefore dissociated from the UserSessionId the session's timeout value can be extended periodically.\r\nThis call is only required if no other LoyaltyService calls relating to UserSessionId are called for some time.","operationId":"Loyalty_ResetMemberExpiry","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Request&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Response&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/search":{"post":{"tags":["Loyalty"],"summary":"MemberSearch","description":"Searches loyalty for member with the requested search parameters.","operationId":"Loyalty_MemberSearch","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberSearchRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.LoyaltyXMLResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/sendmoviefeedback":{"post":{"tags":["Loyalty"],"summary":"SendMovieFeedback","description":"Processes a member message response.","operationId":"Loyalty_SendMovieFeedback","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SendMovieFeedbackRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Response&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/sendusernamereminder":{"post":{"tags":["Loyalty"],"summary":"SendUsernameReminder","description":"Sends the username reminder email to a user.","operationId":"Loyalty_SendUsernameReminder","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SendUsernameReminderRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.SendUsernameReminderResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/signout":{"post":{"tags":["Loyalty"],"summary":"SignOutMember","description":"Signs the specified member out of Loyalty. Also provides the ability to cancel the member's related order if requried.","operationId":"Loyalty_SignOutMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.SignOutMemberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.SignOutMemberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/transaction":{"post":{"tags":["Loyalty"],"summary":"PointsTransaction","description":"Adjusts the points of a specified balance for a Loyalty member. Examples of scenarios when points adjustment can occur include: new Loyalty member getting points on sign up, or Loyalty member uses up points for a redemption.","operationId":"Loyalty_PointsTransaction","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.PointsTransactionRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.LoyaltyResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/transactions":{"post":{"tags":["Loyalty"],"summary":"GetMemberTransactionHistory","description":"Returns a list of Transactions associated with the Member, where each record returned represents an indivdual Line Item within a Transaction.\r\nThe ValidateMember or CreateMember calls must have been made to associate a Member with the UserSessionId.\r\nInternally calls ResetMemberExpiry if successful.","operationId":"Loyalty_GetMemberTransactionHistory","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberTransactionHistoryRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.MemberTransactionHistoryResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/transfer":{"post":{"tags":["Loyalty"],"summary":"TransferMember","description":"Transfers the member details from the membership associated with [CurrentMemberId] to the new club associated with [NewClubId].","operationId":"Loyalty_TransferMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.TransferMemberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.LoyaltyXMLResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/update":{"post":{"tags":["Loyalty"],"summary":"UpdateMember","description":"Updates a member's details. Most of the validation rules around what parts of a member can and cannot be updated are defined in the Loyalty system itself so knowledge of the Loyalty configuration is recommended before using this API. Connect returns validation errors from Loyalty as a single **Membership Error** result code with the **ErrorDescription** providing more information. The **MembershipErrorCode** property can be used for programmatic handling of specific Loyalty validation scenarios.\r\n#### Key Result Codes\r\n* 0     - OK\r\n* 1     - Unexpected error\r\n* 3     - Membership error\r\n\r\n#### Key Membership Error Codes\r\n* 4    - The External ID entered already exists for another membership\r\n* 21    - The Email Address entered already exists for another membership\r\n* 30    - Mobile phone number is already in use\r\n* 51    - The National ID entered already exists for another membership\r\n* 42    - Updating Pin number is not allowed\r\n* 70    - Mobile Phone is required\r\n* 71    - Home Phone is required\r\n* 72    - Mobile Phone cannot be updated via Connect API\r\n* 72    - Home Phone cannot be updated be updated via Connect API\r\n\r\n#### Key Password Error Codes\r\n* 33000    - Password does not meet the maximum length requirement.\r\n* 33001    - Password does not meet the minimum length requirement.\r\n* 33002    - Password does not contain the required minimum number of numeric characters.\r\n* 33003    - Password does not contain the required minimum number of non-numeric characters.\r\n* 33004    - Password does not contain the required minimum number of distinct characters.\r\n* 33005    - Password cannot contain the user's email address.\r\n* 33006    - Password cannot contain the username.\r\n* 33007    - Password cannot contain the user's first or last name.\r\n* 33008    - Password is a known compromised password.\r\n* 33009    - Password contains disallowed words.","operationId":"Loyalty_UpdateMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.UpdateMemberRequest&#8203;"}},{"name":"loyaltySessionToken","in":"header","description":"Current Loyalty session token, represents a 'signed-in' member","required":false,"type":"string"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.Loyalty.UpdateMemberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/validate":{"post":{"tags":["Loyalty"],"summary":"ValidateMember","description":"Validate member verifies the users credentials with the loyalty service.\r\nIf the member is valid the member is automatically associated with the UserSessionId\r\nand the LoyaltyMember data is returned in the response.\r\n\r\nThe client permission 'AllowLoyaltyValidateWithoutPassword' controls which member details need to be specified.\r\n\r\nWhen this is not linked to the current client profile, members can only be validated based on a login and password, or email and password, combination.\r\nWhen this is linked to the current client profile, members may, in addition, be validated by either their ID or card number.\r\n\r\n#### Result Codes\r\n* 0     - OK\r\n* 1     - Unexpected error\r\n* 4     - Invalid request\r\n* 17    - Card not found. This is primarily returned when incorrect credentials are provided when logging in with a loyalty card number\r\n* 18    - The provided credentials were invalid\r\n* 19    - Loyalty timeout\r\n\r\n#### Extended Result Codes\r\n* 30100 - The supplied card has an invalid status for login. This may be because the card is inactive, has expired or has been revoked/reported as stolen\r\n* 30101 - The supplied credentials are for a membership to a club that is not accessible via the current sales channel\r\n* 30102 - The member is temporarily locked after exceeding the login attempt limit (Note: The response property LockOutPeriodInSeconds will be populated as well)","operationId":"Loyalty_ValidateMember","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.ValidateMemberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.ValidateMemberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/validatepasswordresetcode":{"post":{"tags":["Loyalty"],"summary":"ValidatePasswordResetCode","description":"Optional method to validate a previously generated password reset code before completing a password reset.\r\n\r\n#### Initiating a Password Reset\r\nUse** InitiatePasswordReset** to generate a new password reset code.\r\n\r\n#### Completing a Password Reset\r\nUse** CompletePasswordReset** to update the loyalty member's password.","operationId":"Loyalty_ValidatePasswordResetCode","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.ValidatePasswordResetCodeRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.ValidatePasswordResetCodeResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/verifyemailchange":{"post":{"tags":["Loyalty"],"summary":"VerifyEmailChange","description":"Applies the email change started via the SetEmailChangeForVerification method.","operationId":"Loyalty_VerifyEmailChange","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.VerifyEmailChangeRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.VerifyEmailChangeResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/member/VerifyNewMembershipDetails":{"post":{"tags":["Loyalty"],"summary":"VerifyNewMembershipDetails","description":"Verifies whether the user name, email and card number are already in use.","operationId":"Loyalty_VerifyNewMembershipDetails","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.VerifyNewMembershipDetailsRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.VerifyNewMembershipDetailsResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/RESTLoyalty.svc/nextcard":{"post":{"tags":["Loyalty"],"summary":"GetNextCardNumber","description":"Gets the next available card number from the loyalty server.","operationId":"Loyalty_GetNextCardNumber","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetNextCardNumberRequest&#8203;"}},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WSVistaWebClient.ServiceContracts.GetNextCardNumberResponse&#8203;"}}},"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/AddressModuleConfigs":{"get":{"tags":["OData"],"summary":"AddressModuleConfigs","description":"Returns a queryable list of all AddressModuleConfigs.","operationId":"OData_AddressModuleConfigs","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;AddressModuleConfig&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/AdvanceBookingRuleExceptions":{"get":{"tags":["OData"],"summary":"AdvanceBookingRuleExceptions","description":"Returns a queryable list of all AdvanceBookingRuleExceptions.","operationId":"OData_AdvanceBookingRuleExceptions","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;AdvanceBookingRuleException&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/AdvanceBookingRules":{"get":{"tags":["OData"],"summary":"AdvanceBookingRules","description":"Returns a queryable list of all AdvanceBookingRules.","operationId":"OData_AdvanceBookingRules","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;AdvanceBookingRule&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/AdvertisingMediaSets":{"get":{"tags":["OData"],"summary":"AdvertisingMediaSets","description":"Returns a queryable list of all AdvertisingMediaSets.","operationId":"OData_AdvertisingMediaSets","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;AdvertisingMediaSet&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/AdvertisingProfiles":{"get":{"tags":["OData"],"summary":"AdvertisingProfiles","description":"Returns a queryable list of all AdvertisingProfiles.","operationId":"OData_AdvertisingProfiles","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;AdvertisingProfile&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/Attributes":{"get":{"tags":["OData"],"summary":"Attributes","description":"Returns a queryable list of all Attributes.","operationId":"OData_Attributes","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;Attribute&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/CinemaEvents":{"get":{"tags":["OData"],"summary":"CinemaEvents","description":"Returns a queryable list of all CinemaEvents.","operationId":"OData_CinemaEvents","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;CinemaEvent&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/CinemaOperatorGroups":{"get":{"tags":["OData"],"summary":"CinemaOperatorGroups","description":"Returns a queryable list of all Cinema Operator Groups.","operationId":"OData_CinemaOperatorGroups","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;CinemaOperatorGroup&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/CinemaOperators":{"get":{"tags":["OData"],"summary":"CinemaOperators","description":"Returns a queryable list of all Cinema Operators.","operationId":"OData_CinemaOperators","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;CinemaOperator&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/Cinemas":{"get":{"tags":["OData"],"summary":"Cinemas","description":"Returns a queryable list of all Cinemas.\r\nExpand options: ConceptAttributes","operationId":"OData_Cinemas","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;Cinema&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/Clients":{"get":{"tags":["OData"],"summary":"Clients","description":"Returns a queryable list of all Clients.","operationId":"OData_Clients","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;Client&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/Clubs":{"get":{"tags":["OData"],"summary":"Clubs","description":"Returns a queryable list of all Clubs.","operationId":"OData_Clubs","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;Club&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/CustomerRatingTypes":{"get":{"tags":["OData"],"summary":"CustomerRatingTypes","description":"Returns a list of Customer Classification types that are currently active as configured in Vista Loyalty.\r\n\r\nIf allowed ratings can be submitted via the following loyalty end-points:\r\n- Film -&gt; SubmitCustomerFilmRating\r\n- Trailer -&gt;  SubmitCustomerFilmTrailerRating\r\n- Experience/Food -&gt; SubmitCustomerExperienceRating","operationId":"OData_CustomerRatingTypes","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;CustomerRatingType&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/Deals":{"get":{"tags":["OData"],"summary":"Deals","description":"Returns a queryable list of all Deals.","operationId":"OData_Deals","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;DealBasic&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/EducationLevels":{"get":{"tags":["OData"],"summary":"EducationLevels","description":"Returns a queryable list of all EducationLevels.","operationId":"OData_EducationLevels","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;EducationLevel&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/FilmGenres":{"get":{"tags":["OData"],"summary":"FilmGenres","description":"Returns a queryable list of all FilmGenres.","operationId":"OData_FilmGenres","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;FilmGenre&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/FilmPersonLinks":{"get":{"tags":["OData"],"summary":"FilmPersonLinks","description":"Returns a queryable list of links between Person and Film entities including their role on the film. Is automatically linked via ScheduledFilm?$expand=Cast.","operationId":"OData_FilmPersonLinks","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"Skips the first n results.","required":false,"type":"integer","format":"int32"},{"name":"connectapitoken","in":"header","description":"Connect API token","required":false,"type":"string"},{"name":"Connect-Region-Code","in":"header","description":"Region Code","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Swashbuckle.OData.ODataResponse&#x3C;List&#x3C;FilmPersonLink&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;&#x3E;&#8203;&#8203;&#8203;"}}},"deprecated":false,"contractResolver":{"DynamicCodeGeneration":true,"DefaultMembersSearchFlags":20,"SerializeCompilerGeneratedMembers":false,"IgnoreSerializableInterface":false,"IgnoreSerializableAttribute":true,"IgnoreIsSpecifiedMembers":false,"IgnoreShouldSerializeMembers":false}}},"/OData.svc/FilmPersons":{"get":{"tags":["OData"],"summary":"FilmPersons","description":"[Deprecated] - use FilmPersonLinks or ScheduledFilms?$expand=Cast","operationId":"OData_FilmPersons","consumes":[],"produces":["application/json","application/atom+xml"],"parameters":[{"name":"$expand","in":"query","description":"Expands related entities inline.","required":false,"type":"string"},{"name":"$filter","in":"query","description":"Filters the results, based on a Boolean condition.","required":false,"type":"string"},{"name":"$select","in":"query","description":"Selects which properties to include in the response.","required":false,"type":"string"},{"name":"$orderby","in":"query","description":"Sorts the results.","required":false,"type":"string"},{"name":"$top","in":"query","description":"Returns only the first n results.","required":false,"type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"S
[...]
